{% load static %}
<!--   Core JS Files   -->
<script src="/static/js/plugins/jquery-3.4.1.min.js"></script>
<script src="/static/js/plugins/popper.min.js"></script>
<script src="/static/js/plugins/bootstrap.min.js"></script>
<script src="/static/js/plugins/perfect-scrollbar.jquery.min.js"></script>

<!-- Chart JS -->
<script src="/static/js/plugins/chartjs.min.js"></script>
<script src="/static/js/plugins/bootstrap-notify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/static/js/plugins/now-ui-dashboard.min.js"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="/static/js/demo.js"></script>