{% extends 'dashboard/layouts/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="title">Set Password</h1>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="id_password">Password</label>
                                    {% render_field form.password1 class="form-control" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Comfirm Password</label>
                                    {% render_field form.password2 class="form-control" %}
                                </div>
                            </div>
                        </div>
                        <input type="submit" name="action" value="{% trans 'Set Password' %}" class="btn btn-info" />
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="/static/assets/img/bg5.jpg" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">

                            {% if request.user.userprofile.image %}
                            <img class="avatar border-gray" src="{{ request.user.userprofile.image.url}}" alt="...">

                            {% else %}
                            <img class="avatar border-gray" src="/static/assets/img/default-avatar.png" alt="...">
                            {% endif %}
                            <h5 class="title">
                                {{ request.user.get_full_name }}
                            </h5>
                        </a>
                    </div>
                    <p class="description text-center">
                        {{ request.user.userprofile.biography}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}