{% extends "account/base.html" %}

{% load i18n %}

{% block site_name %}{% trans "Sign Up Closed" %}{% endblock %}


{% block facebook %}
    
{% endblock facebook %}
    

{% block content %}

<div class="content">
    <div class="container">
        <div class="row bg-white">
            <div class="col-md-6 m-auto">
                <h1>{% trans "Sign Up Closed" %}</h1>

                <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
