* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* GENERAL DECLARATION */

.text-center {
    text-align: center;
}
.bordered {
  border-radius: 5px;
}

.width-80 {
  width: 80%;
  margin: auto;
}
.width-90 {
  width: 90%;
}
/* GENERAL */
/* body {
    padding: 0;
    margin: 0;
    background: rgba(205, 211, 216, 0.7);;
    color: white;
} */

/* FORM */

.panel-content .form {
    display: block;
    position: absolute;
    margin: 0 auto;
    min-width: 300px;
    max-width: 400px;
    height: auto;
    top: 100px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  } 

  .panel.panel-right .panel-content .form h1 {
    display: block;
    margin: 0 0 30px 0;
    color: rgb(255, 254, 254);
    font-weight: 200;
    font-size: 18px;
    background-color: #3C8DC5;
    padding: 10px 20px;
  }
  
  .panel.panel-right .panel-content .form h1 a {
      color: rgb(159, 207, 201);
  }
  .panel.panel-right .panel-content .form h1 span {
      text-align: right;
  }
  .group { 
    position: relative; 
    margin-bottom: 25px; 
  }
  ul {
      list-style: none;
  }

  .group li {
      display: inline-block;
  }
.group input {
    font-size: 15px;
    height: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(25, 27, 27);
    color: rgb(26, 23, 23);
    background: rgba(0,0,0,0);
    opacity: 0.7;
    transition: 0.2s ease;
  }
  
  input:focus {
    outline: none;
    opacity: 1;
  }
  
.group label {
    color: rgb(4, 4, 5); 
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 8px;
    opacity: 0.8;
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
  }

.group.radio {
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.group ul {
    margin: 0px auto;
}

.group input[type="radio"] {
    height: 20px;
    width: 20px;
    border-radius: 50%;

}
.country-select-flag {
  height: 16px;
  width: 20px;
  margin: 1px 5px 0;
}
/* .custom-select select {
    width: 90%;
    padding: 7px;
    background: #444;
    color: inherit;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 10px;
    
}
.custom-select option {
    color: inherit;
    background: #444;
} */





input:focus ~ label, input:valid ~ label 		{
    top: -13px;
    font-size: 13px;
    color: rgb(12, 11, 11);
    opacity: 1;
  }
  
/* INPUTS RADIO */
.radio-group {
    align-items: center;
    text-align: center;

}

.radio {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    color: #444;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.radio + .radio {
    margin-left: 20px;
}
.radio input[type="radio"],
input[type="checkbox"] {
    display: none;
    /* position: absolute;
    left: 0;
    top: 5px; */


}

.radio span {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid rgb(11, 94, 202);
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    cursor: pointer;
}

.radio span:after {
    content: '';
    height: 8px;
    width: 8px;
    background: rgb(11, 94, 202);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
}

.radio input[type="radio"]:checked ~ span:after {
    transform: translate(-50%, -50%) scale(1);
}

/* // RADIO */


  .highlight {
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from { background:#B1B1B1; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:#B1B1B1; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:#B1B1B1; }
    to 	{ width:0; background:transparent; }
  }
  .send-btn {
    float: none;
    color: rgb(24, 22, 22);
    transition: 0.2s ease;
    background: rgb(61, 144, 155);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .send-btn:hover {
    color: #FAFAFA;
    cursor: pointer;
    
  }
  

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 634px) {
}

@media only screen and (max-width: 480px) {
   
    .panel-content .form {
        width: 100%;
        left: 0;
        padding-left: 5px;
        transform: none;
    
    }
    input {
        width: 90%;
        padding-left: 0px;
        font-size: 15px;
    }
    .panel.panel-right {
        margin: 0;
    }
    .send-btn {
        float: none;
        margin: 10px auto;
        transform: none;
    }
}