

.footer-added {
	text-align: center;
	color: rgb(6, 14, 27);
}

.back-button {
	position: absolute;
	top: 10px;
	left: 30px;
	padding: 0;
	margin: 0;
}

/* QUANTITY BUTTONS */
.product-info.quantity .quantity {
	border-bottom-color: rgb(78, 87, 104);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(78, 87, 104);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(78, 87, 104);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(78, 87, 104);
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(78, 87, 104);
	display: inline-flex;
	font-family: Lato, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	height: 35px;
	hyphens: manual;
	line-height: 30px;
	margin: 0px;
	outline-color: rgb(78, 87, 104);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
	text-size-adjust: 100%;
	vertical-align: baseline;
	width: 121.453px;
	word-break: break-word;
	-webkit-font-smoothing: antialiased;
}


.product-info.quantity .quantity .minus {
	align-items: center;
	background-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgb(228, 228, 228);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(228, 228, 228);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(228, 228, 228);
	border-right-style: solid;
	border-right-width: 0px;
	border-top-color: rgb(228, 228, 228);
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: none;
	box-sizing: border-box;
	color: rgb(216, 83, 47);
	cursor: pointer;
	display: flex;
	font-family: Lato, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	height: 35px;
	hyphens: manual;
	justify-content: center;
	line-height: 30px;
	margin: 0px;
	outline-color: rgb(216, 83, 47);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
	text-decoration-color: rgb(216, 83, 47);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: linear;
	vertical-align: baseline;
	width: 38px;
	word-break: break-word;
	-webkit-font-smoothing: antialiased;
}

.product-info.quantity .quantity .input-text {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(221, 221, 221);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(221, 221, 221);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(221, 221, 221);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: none;
	box-sizing: border-box;
	color: rgb(102, 102, 102);
	cursor: text;
	display: block;
	font-family: Lato, sans-serif;
	font-size: 15px;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	height: 35px;
	hyphens: manual;
	letter-spacing: normal;
	line-height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-width: 58px;
	min-height: 35px;
	padding-bottom: 4.5px;
	padding-left: 4.5px;
	padding-right: 4.5px;
	padding-top: 4.5px;
	text-align: center;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-size-adjust: 100%;
	text-transform: none;
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: ease;

	width: 39.4531px;
	word-break: break-word;
	word-spacing: 0px;
	writing-mode: horizontal-tb;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-webkit-rtl-ordering: logical;

}

.product-info.quantity .quantity .plus {
	align-items: center;
	background-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgb(228, 228, 228);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(228, 228, 228);
	border-left-style: solid;
	border-left-width: 0px;
	border-right-color: rgb(228, 228, 228);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(228, 228, 228);
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: none;
	box-sizing: border-box;
	color: rgb(216, 83, 47);
	cursor: pointer;
	display: flex;
	font-family: Lato, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	height: 35px;
	hyphens: manual;
	justify-content: center;
	line-height: 30px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 6px;
	margin-top: 0px;
	outline-color: rgb(216, 83, 47);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
	text-decoration-color: rgb(216, 83, 47);
	text-decoration-line: none;
	text-decoration-style: solid;
	text-size-adjust: 100%;
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: linear;
	vertical-align: baseline;
	width: 38px;
	word-break: break-word;
	-webkit-font-smoothing: antialiased;
}

/* // QTY BUTTONS */



.info .title {
	font-size: 15px;
	font-weight: 800;
	font-family: 'Oswald';
	text-align: left;
	padding-left: 10px;
}

.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}
.container {
	font-family: 'Oswald';
}
.shopping-cart.dark{
	background-color: #ffffff;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: rgb(248, 245, 245);
}

.shopping-cart .block-heading{
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	padding-left: 5px;
	border-bottom: 1px solid rgb(19, 88, 100);
	
}

.shopping-cart .product.form-stripe {
	border-bottom: none;
	padding-top: 30px;
	margin-top: 20px;

}

.empty {
	text-align: center;
}
.empty .empty-title {
	font-weight: 400;
	font-size: 25px;
}
.empty a {
	color: white;
	background: rgb(17, 49, 41);
	font-size: 20px;
	padding: 10px 30px;
	border-radius: 20px;
}

.shopping-cart .items .product .image {
	height: 100px;
	padding-left: 10px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
	padding-left: 20px;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 5px;
	font-weight: 600;
	color: rgb(19, 18, 18);
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}
.product-info.quantity {
	display: inline-block;
}
.product-info.quantity input {
	width: 50px;
	height: 20px;
	padding: 5px 2px 5px 5px;
	border: #3b99e0;
	font-size: 16px;
	font-family:'Times New Roman', Times, serif;
	line-height: 20px;

}
.product-info.quantity a {
	color: grey;
}
.product-info.price .discount {
	font-size: 15px;
	color: rgb(197, 45, 45);
}
.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary a{
	margin-top: 20px;
}

.action a {
	text-align: center;
	color: rgb(185, 16, 16);
	padding-left: 20%;
}

@media (max-width: 768px) {
	/* .shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	} */
	.info .row {
		display: block;
	}
	.shopping-cart .items .product {
		display: block;
	}
	.action a {
		padding-left: 5px;
		text-align: left;
	}



}
@media only screen and (max-width: 500px) {
	.shopping-cart .items .product .info{
		padding-top: 5px;
		text-align: left;
	}
}