{% extends 'dashboard/layouts/base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %} Products {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/css/bootstrap-select.min.css"
    integrity="sha256-VMPhaMmJn7coDSbzwqB0jflvb+CDnoAlfStC5RogOQo=" crossorigin="anonymous" />
{% endblock stylesheets %}

{% block content %}
<div class="panel-header panel-header-sm">
</div>
<div class="content">
      <!-- All PRODUCTS -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center"> All Products</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table overflow-auto">
              <thead class=" text-primary">
                <th>
                  No
                </th>
                <th>
                  Name
                </th>
                <th>
                  Available
                </th>
                <th class="text-right">
                  Price
                </th>
                <th class="text-right">
                  Action
                </th>
              </thead>
              <tbody>

                {% for product in posts %}
                <tr>
                  <td>
                    {{forloop.counter}}
                  </td>
                  <td>
                    {{product.title}}
                  </td>
                  <td>
                    {{ product.published}}

                  </td>
                  <td class="text-right">
                    {{product.created|date}}

                  </td>

                  <td class="text-right">
                    <a href="">Edit</a> or <a href="" class="delete_product"
                      data-product="{{ product.id}}">UnPublish</a>


                  </td>
                  {% empty %}
                  <td colspan="3" class="text-center">No Product</td>
                  <td colspan="2" class="text-center"><a href="{% url 'store:store' %}" class="btn btn-primary">Add New
                      Product</a> </td>

                </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>
          <button class="btn btn-primary" id="add-product" data-toggle="modal" data-target="#addProduct">Add
            Product</button>
        </div>
      </div>
    </div>
  </div>
  <!-- // ALL PRODUCTS -->
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/js/bootstrap-select.min.js"
    integrity="sha256-QOE02Glo1C1gHzP96JOaxyIMt4XSFv/exZaYLY4dwO0=" crossorigin="anonymous"></script>
<script src="/static/js/dashboard.js"></script>

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();
    });
</script>

{% endblock javascripts %}