{% extends 'dashboard/layouts/base.html' %}
{% load humanize %}
{% load static %}

{% block title %} Orders {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> My Orders</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Ref Code
                </th>
                <th>
                  Start Date
                </th>
                <th>
                  Ordered
                </th>
                <th class="text-right">
                  Total Amount
                </th>
              </thead>
              <tbody>

                {% for order in orders %}
                <tr>
                  <td>
                    <a id="order-detail" data-toggle="modal" data-target="#orderDetail"
                      data-url="{{order.order_detail_url}}" href="" class="order-detail">{{order.ref_code}}</a>
                  </td>
                  <td>
                    {{order.start_date|date}}
                  </td>
                  <td>
                    {{order.ordered}}
                  </td>
                  <td class="text-right">
                    <strong>{{order.get_total|intcomma}}&nbsp;Rwf</strong>
                  </td>

                  {% empty %}
                  <td colspan="3" class="text-center">No order yet</td>
                  <td colspan="2" class="text-center"><a href="{% url 'store:store' %}" class="btn btn-primary">Go
                      shopping</a> </td>

                </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ORDER DETAIL -->
<div class="modal fade" id="orderDetail" tabindex="-1" role="dialog" aria-labelledby="order_detail" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Order Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            <p class="order_id_p">Order_Id: </p>
          </div>
          <div class="col-sm-8 font-weight-bold">
            <p class="order_detail_id">None</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <p class="order_total_p">Order Total(Rwf): </p>
          </div>
          <div class="col-sm-8 font-weight-bold">
            <p class="order_total_amount">None</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <p class="total_items">Total Items: </p>
          </div>
          <div class="col-sm-8 font-weight-bold">
            <p class="total_items_count">1</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <p class="delivered">Being Delivered: </p>
          </div>
          <div class="col-sm-8 font-weight-bold text-info">
            <p class="delivered_status">False</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <p class="received">Order Received:</p>
          </div>
          <div class="col-sm-8 font-weight-bold text-info">
            <p class="received_status">False</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="button-container m-auto">
          <a href="{% url 'store:checkout' %}" class="btn btn-primary">Checkout</a>
          <a href="" class="btn btn-danger" id="cancel_order">Cancel Order</a>
        
      </div>
    </div>
  </div>
</div>
<!-- // ORDER DETAIL -->

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock javascripts %}