{% extends 'dashboard/layouts/base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/css/bootstrap-select.min.css"
  integrity="sha256-VMPhaMmJn7coDSbzwqB0jflvb+CDnoAlfStC5RogOQo=" crossorigin="anonymous" />
{% endblock stylesheets %}

{% block content %}

<!-- End Navbar -->
<div class="panel-header panel-header-sm">
</div>

<div class="content">

  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Global Sales</h5>
          <h4 class="card-title">Shipped Products</h4>
          <div class="dropdown">
            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
              data-toggle="dropdown">
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="lineChartExample"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">2018 Sales</h5>
          <h4 class="card-title">All products</h4>
          <div class="dropdown">
            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
              data-toggle="dropdown">
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Email Statistics</h5>
          <h4 class="card-title">24 Hours Performance</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="barChartSimpleGradientsNumbers"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h5 class="card-category">Pending Orders</h5>
          <h4 class="card-title">To be delivered</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>

                {% for order in orders %}

                {% if order.ordered and not order.being_delivered %}



                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-left">Sign contract for "What are conference organizers afraid of?"</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">All Orders</h5>
          <h4 class="card-title"> Being Delivered</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Ref Code
                </th>
                <th>
                  Customer
                </th>
                <th>
                  Items
                </th>
                <th class="text-right">
                  Total Amount
                </th>

              </thead>
              <tbody>

                {% for order in orders %}



                {% if order.being_delivered %}
                <tr>
                  <td>
                    {{order.ref_code}}
                  </td>
                  <td>
                    {{order.user.get_full_name}}
                  </td>
                  <td>
                    <ul>

                      {% for item in order.items.all %}
                      <li>{{ item.item.scientific_name}}</li>
                      {% endfor %}

                    </ul>
                  </td>
                  <td class="text-right">
                    {{order.get_total}}&nbsp;Rwf
                  </td>
                </tr>
                {% endif %}


                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- All PRODUCTS -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center"> All Products</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table overflow-auto">
              <thead class=" text-primary">
                <th>
                  No
                </th>
                <th>
                  Name
                </th>
                <th>
                  Available
                </th>
                <th class="text-right">
                  Price
                </th>
                <th class="text-right">
                  Action
                </th>
              </thead>
              <tbody>

                {% for product in products %}
                <tr>
                  <td>
                    {{forloop.counter}}
                  </td>
                  <td>
                    {{product.scientific_name}}
                  </td>
                  <td>
                    {{ product.available}}

                  </td>
                  <td class="text-right">

                    {% if product.discount_price %}
                    <del>{{product.price|intcomma}}</del> &nbsp;{{product.discount_price|intcomma}}&nbsp;Rwf
                    {% else %}

                    {{product.price|intcomma}}&nbsp;Rwf
                    {% endif %}
                  </td>

                  <td class="text-right">
                    <a href="{{ product.edit_url}}">Edit</a> or <a href="{{ product.delete_url}}" class="delete_product"
                      data-product="{{ product.id}}">Delete</a>


                  </td>
                  {% empty %}
                  <td colspan="3" class="text-center">No Product</td>
                  <td colspan="2" class="text-center"><a href="{% url 'store:store' %}" class="btn btn-primary">Add New
                      Product</a> </td>

                </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>
          <button class="btn btn-primary" id="add-product" data-toggle="modal" data-target="#addProduct">Add
            Product</button>
        </div>
      </div>
    </div>
  </div>
  <!-- // ALL PRODUCTS -->

</div>


<!-- FORMS -->
<!-- FORMS -->
<div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" class="md-form" action="." enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="">{{form.scientific_name.label}}</label>
                {% render_field form.scientific_name class="form-control"%}
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="">{{form.common_name.label}}</label>
                {% render_field form.common_name class="form-control"%}

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label for="">{{form.price.label}}</label>
                {% render_field form.price class="form-control"%}
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label for="">{{form.discount_price.label}}</label>
                {% render_field form.discount_price class="form-control"%}
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="">{{ form.category.label}}</label>
                {% render_field form.category class="custom-select"%}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label for="">{{ form.seeds_kg.label}}</label>
                {% render_field form.seeds_kg class="form-control"%}
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label for="">{{form.germination_rate.label}}</label>
                {% render_field form.germination_rate class="form-control"%}
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="">{{form.seed_source.label}}</label>
                {% render_field form.seed_source class="form-control"%}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="">{{form.seed_type.label}}</label>
                {% render_field form.seed_type class="custom-select"%}
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="">{{form.pre_treatment.label}}</label>
                {% render_field form.pre_treatment class="custom-select"%}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="image1" id="id_image1">
                <label for="id_image1" class="custom-file-label" id="image1_label">Tree Image</label>
              </div>

            </div>
            <div class="col-md-6 pl-1">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="image2" id="id_image2">
                <label for="id_image2" class="custom-file-label" id="image2_label">Seed Image</label>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="">{{ form.plantation_districts.label}}</label>
                {{form.plantation_districts}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">OverView</label>
                {{ form.short_note}}
              </div>
            </div>
          </div>
          <!-- CHECK BOXES -->
          <div class="row">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox form-check-inline">
                <input type="checkbox" name="available" id="available" class="custom-control-input">
                <label for="available" class="custom-control-label">Available</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="custom-control custom-checkbox form-check-inline">
                <input type="checkbox" name="recommended" id="recommended" class="custom-control-input">
                <label for="recommended" class="custom-control-label">Recommended</label>
              </div>
            </div>
          </div>

          <input type="submit" value="Add Product" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/js/bootstrap-select.min.js"
  integrity="sha256-QOE02Glo1C1gHzP96JOaxyIMt4XSFv/exZaYLY4dwO0=" crossorigin="anonymous"></script>
<script src="/static/js/dashboard.js"></script>

<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();
  });
</script>

{% endblock javascripts %}