{% load i18n %}
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo-text"><span>Igiti</span>&nbsp;Corp</h1>
                <br>
                <p>{% blocktrans %}
                    Igiti Corp is on a mission ensure sustainable management of forestry resources,
                    distribution and access to forestry information.
                    {% endblocktrans %}</p>
                <div class="contact">
                    <span><i class="fa-solid fa-building-circle-arrow-right"></i>&nbsp;<a href="#address">HQ: Yaounde
                            Avenue, Musanze,
                            Rwanda</a></span>
                    <span><i class="fas fa-phone"></i>&nbsp;<a href="tel:+25078724147">+250787241457</a></span>
                    <span><i class="fas fa-envelope"></i>&nbsp;<a
                            href="mailto:info@igiti.co.rw">info@igiti.co.rw</a></span>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/igiticorp/"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/igiticorp"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <br>
                <ul>
                    <li><a href="{% url 'forestry:list' %}"><i class="fas fa-link"></i>&nbsp;
                            {% trans "Publications"%}</a></li>
                    <li><a href="{% url 'store:store' %}"><i class="fas fa-link"></i>&nbsp;{% trans "Store" %}</a></li>
                    <li><a href="{% url 'terms' %}"><i class="fas fa-link"></i>&nbsp;
                            {% trans "Terms and Conditions"%}</a></li>
                    <li><a href="{% url 'privacy' %}"><i class="fas fa-link"></i>&nbsp;{% trans "Privacy Policy" %}</a>
                    </li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h2>{% trans "Subscribe to our newsletter" %}</h2>
                <br>
                <form action="{% url 'subscribe' %}" method="post" class="contact-form">
                    {% csrf_token %}
                    <input type="text" name="full_name" placeholder="Full Name..." class="text-input contact-input">
                    <input type="email" name="email" placeholder="E-mail..." class="text-input contact-input">
                    <button type="submit" class="btn btn-big contact-btn"><i class="far fa-paper-plane"></i>&nbsp;
                        {%trans "Subscribe" %}</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; Igiti Corp | {% trans "Powered by" %} <a href="https://feyton.co.rw" target="_blank">Feyton Inc</a>
        </div>
    </div>
</footer>