{% load static %}
{% load i18n %}
{% load cart_template_tags %}
<header>
    <div class="container">
        <a href="{% url 'home' %}"><img src="{% static 'img/fixed-logo.png' %}" alt="logo" width="275" height="60"
                class="fixed-logo"></a>
        <i class="fa fa-bars menu-toggle" id="menu-show" onclick="menu_show()"></i>
        <ul class="nav-bar showing" id="nav-bar">
            <li><a href="{% url 'home' %}" class="active">{% trans "Home" %}</a></li>
            <li><a href="{% url 'forestry:list' %}">{% trans 'Publications' %}&nbsp;<i
                        class="fas fa-chevron-down"></i></a>
                <ul>
                    <li><a href="{% url 'forestry:list' %}">{% trans "Blog" %}</a></li>
                    <li><a href="{% url 'notification' %}">{% trans "Events" %}</a></li>
                </ul>
            </li>
            <li><a href="{% url 'store:store' %}">{% trans "Store" %}&nbsp;<i class="fas fa-chevron-down"></i></a>
                {%if user.is_authenticated%}
                <ul>
                    <li><a href="{% url 'store:order-summary' %}">{% trans "Cart" %} <span
                                class="cart-number">&nbsp;{{request.user|cart_item_count}}</span></a></li>
                    <li><a href="{% url 'store:checkout' %}">{% trans "Checkout" %}</a></li>
                </ul>
                {% endif %}
            </li>
            {% if user.is_authenticated %}
            <li><a href="#"><i class="fas fa-user"></i>&nbsp;{{ user.first_name}} <i
                        class="fas fa-chevron-down"></i></a>
                <ul>
                    <li><a href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a> </li>
                    <li class="logout"><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="#">Account&nbsp;<i class="fas fa-chevron-down"></i></a>
                <ul>
                    <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a> </li>
                    <li><a href="{% url 'account_signup' %}">{% trans "Register" %}</a></li>
                </ul>
            </li>
            {% endif%}
            <li><a href="#">Lang&nbsp;<i class="fas fa-chevron-down"></i></a>
                <ul>
                    {% get_available_languages as languages %}
                    {% for lang_code, lang_name in languages %}
                    <li class="language">
                        {% language lang_code %}
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                            <input name="language" type="hidden" value="{{lang_code}}" />
                            <input type="submit" value="{{lang_name}}" />
                        </form>
                        {% endlanguage %}
                    </li>
                    {% endfor %}

                </ul>
            </li>
        </ul>
    </div>

</header>
<style>
    .language form input {
        outline: none;
        color: black;
        background-color: inherit;
        border: none;
    }

    .language form input:hover {
        color: white;
    }
</style>