@import url(https://fonts.googleapis.com/css?family=Roboto:400, 900, 700, 500);
/* GENERAL DECLARATION */

.text-center {
    text-align: center;
}

.bordered {
    border-radius: 5px;
}

.width-80 {
    width: 80%;
    margin: auto;
}

.width-90 {
    width: 90%;
}

.body-text {
    padding: 0 20px 30px 20px;
    font-family: "Roboto";
    font-size: 1em;
    color: #333;
    text-align: center;
    line-height: 1.2em;
}

.form-div {
    margin: 10px auto;
}

.radio-group {
    align-content: center;
    text-align: center;
    margin: auto;
}

.form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    background-color: #6fb7e9;
    width: 100%;
    display: flex;
}

.personal-information {
    background-color: rgb(18, 38, 53);
    color: #fff;
    padding: 1px 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

h1 {
    font-size: 1.3em;
    font-family: "Roboto";
}

input {
    margin: 1px 0;
    padding-left: 3%;
    font-size: 14px;
}

input[type="text"] {
    display: block;
    height: 50px;
    width: 100%;
    border: none;
}

input[type="email"] {
    display: block;
    height: 50px;
    width: 100%;
    border: none;
}

input[type="submit"] {
    display: block;
    height: 60px;
    width: 100%;
    border: none;
    background-color: #3c8dc5;
    color: #fff;
    margin-top: 2px;
    cursor: pointer;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#column-left {
    width: 49%;
    float: left;
    margin-bottom: 2px;
}

#column-right {
    width: 50%;
    float: right;
}

#input-button {
    background: rgb(53, 132, 189);
}

#input-button:hover {
    background: rgb(19, 126, 112);
    transition: 0.3s ease;
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
    .form-container {
        margin: 0 2%;
    }
    input {
        font-size: 1em;
    }
    #input-button {
        width: 100%;
    }
    #input-field {
        width: 96.5%;
    }
    h1 {
        font-size: 1.2em;
    }
    input {
        margin: 2px 0;
    }
    input[type="submit"] {
        height: 50px;
    }
    #column-left {
        width: 96.5%;
        display: block;
        float: none;
    }
    #column-right {
        width: 96.5%;
        display: block;
        float: none;
    }
}