/* overay forms */

/* ADD TASK */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);

/* GENERAL DECLARATION */

.text-center {
    text-align: center;
}
.bordered {
  border-radius: 5px;
}

.width-80 {
  width: 80%;
  margin: auto;
}
.width-90 {
  width: 90%;
}


/* FROM CART */
.image-area {
	overflow: hidden;
	padding-left: 10px;
}

.footer-added {
	text-align: center;
	color: rgb(6, 14, 27);
}

.back-button {
	position: absolute;
	top: 10px;
	left: 30px;
	padding: 0;
	margin: 0;
}



.info .title {
	font-size: 15px;
	font-weight: 800;
	font-family: 'Oswald';
	text-align: left;
	padding-left: 10px;
}

.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}
.container {
	font-family: 'Oswald';
}
.shopping-cart.dark{
	background-color: #f6f6f6;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: rgb(247, 242, 242);
}

.shopping-cart .block-heading{
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary a{
	margin-top: 20px;
}

.action a {
	text-align: center;
	color: rgb(185, 16, 16);
	padding-left: 20%;
}

@media (max-width: 768px) {

	.info .row {
		display: block;
	}

	.action a {
		padding-left: 5px;
		text-align: left;
	}



}
@media only screen and (max-width: 500px) {
	.shopping-cart .items .product .info{
		padding-top: 5px;
		text-align: left;
	}
}


/* // CART */



    .body-text {
        padding: 0 20px 30px 20px;
        font-family: "Roboto";
        font-size: 1em;
        color: #333;
        text-align: center;
        line-height: 1.2em;
    }

.items form {
    padding: 0px 10px 10px 10px;
}
    .form-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .personal-information {
        background-color: rgb(18, 38, 53);
        color: #fff;
        padding: 1px 0;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    h1 {
        font-size: 1.3em;
        font-family: "Roboto"
    }

    input {
        margin: 1px 0;
        padding-left: 3%;
        font-size: 14px;
    }

    input[type="text"] {
        display: block;
        height: 50px;
        width: 100%;
        border: none; 
    }
    
    /* INPUTS RADIO */
.radio-group {
    align-items: center;
    text-align: center;
    height: auto;
    margin-top: 10px;
    vertical-align: middle;
    

}
.radio-group img {
    height: 50px;
}


.radio {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    color: #444;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.radio + .radio {
    margin-left: 20px;
}
.radio input[type="radio"],
input[type="checkbox"] {
    display: none;


}

.radio span {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid rgb(11, 94, 202);
    display: block;
    position: absolute;
    left: 0;
    top: 35%;
    cursor: pointer;
}

.radio span:after {
    content: '';
    height: 14px;
    width: 14px;
    background: rgb(9, 73, 110);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
}

.radio input[type="radio"]:checked ~ span:after {
    transform: translate(-50%, -50%) scale(1);
}

/* // RADIO */

.custom-control {
    padding-top: 5px;
    /* margin-left: 10px; */
}


    input[type="email"] {
        display: block;
        height: 50px;
        width: 100%;
        border: none;
    }

    input[type="submit"] {
        display: block;
        height: 60px;
        width: 100%;
        border: none;
        background-color: #3C8DC5;
        color: #fff;
        margin-top: 2px;
        cursor: pointer;
        font-size: 0.9em;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }


    #column-left {
        width: 49%;
        float: left;
        margin-bottom: 2px;
    }

    #column-right {
        width: 50%;
        float: right;
    }
#input-button {
    background: rgb(53, 132, 189)
}
#input-button:hover {
    
    background: rgb(19, 126, 112);;
    transition: 0.3s ease;

}

    @media only screen and (max-width: 480px) {
        body {
            width: 100%;
            margin: 0 auto;
        }

        .form-container {
            margin: 0 2%;
        }

        input {
            font-size: 1em;
        }

        #input-button {
            width: 100%;
        }

        #input-field {
            width: 96.5%;
        }

        h1 {
            font-size: 1.2em;
        }

        input {
            margin: 2px 0;
        }

        input[type="submit"] {
            height: 50px;
        }

        #column-left {
            width: 96.5%;
            display: block;
            float: none;
        }

        #column-right {
            width: 96.5%;
            display: block;
            float: none;
        }
    }



/* overay forms */