.page-card {
    background: white;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* GENERAL */
h1, h2, h3, h5, p {
    padding-left: 10px;
}
.body-content table {
    padding-left: 10px;
}

.page-card .head-logo {
    
    width: 100%;
    margin-bottom: 50px;
    margin-top: 10px;
}
.page-card .head-logo h1 {
    font-weight: 500;
}

.page-card .card-header {
    display: flex;
    background: rgb(179, 216, 204);
    width: 100%;
    height: 150px;
}

.page-card .foot-close {
    height: 100px;
    width: 100%;
    background: rgb(149, 207, 188);
}
.page-card .foot-close .top {
    text-align: center;
    color: rgb(0, 34, 107);
    width: 100%;
    height: 50px;
    background: rgb(129, 180, 159);
    padding-top: 10px;
}
.page-card .foot-close .bottom {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 50px;
}
.page-card .foot-close .bottom .mailing {
    flex: 1;
}
.page-card .foot-close .bottom .contact {
    flex: 1;
}
.page-card .foot-close .bottom ul {
    list-style: none;
}
.page-card .bottom .mailing ul li ul li{
    display: inline-block;
    justify-content: center;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 10px;
}

/* BODY */

.page-card .body-content {
    width: 100%;
    background: white;
    margin-bottom: 0px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.page-card .body-content .title.name {
    font-size: 25px;
    color: cornflowerblue;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
    padding: 5px 10px;
}
.page-card .head-logo span {
    color: green;
}
.page-card .body-content h3 {
    font-size: 25px;
    color: rgb(3, 15, 29);
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: 400;
}
.page-card .body-content ul {
    list-style: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.page-card .body-content .districts {
    width: 80%;
    border-collapse: collapse;
    padding-left: 20px;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
.page-card .body-content .districts td {
    width: 50%;
}

.page-card .body-content thead {
    background-color: cadetblue;
}
.page-card .body-content .desc-title {
    font-weight: 700;
    font-family: 'Oswald';
}
/* //BODY */
