{% load i18n %}
<h1 class="trending-post-title">{{category|title}}</h1>
<!-- Trending post -->
{% for post in blog_posts %}
<div class="trending-post clearfix">
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="" class="post-image">
    {%endif%}
    <div class="post-preview">
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <i class="far fa-user"></i>&nbsp;<span>{{post.author}}</span> &nbsp;<i
            class="far fa-calendar"></i>&nbsp;<span>{{ post.pub_date|date }}</span>
        <p class="preview-text">{{ post.description|truncatechars:220 }}</p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-outline-info">{% trans "Read more" %}</a>
    </div>
</div>
{% empty%}
<div class="trending-post m-auto text-center">
    <h3 class="m-auto">{% trans "Sorry, we do not have posts in this category yet" %}</h3>
</div>
{% endfor %}

</div>