{% extends 'layout/base.html'%}
{% load i18n %}
{% load static %}
{% load hitcount_tags %}

{% block extra_style %}
<link rel="stylesheet" href="/static/css/forestry.css">
{% endblock extra_style %}
{% block site_name %}
{{blog_post.title}}
{% endblock site_name %}


{% block extra_head %}
<meta name="description" content="{{post.description|truncatechars:100}}">
<meta name="robots" content="index, follow" />
{% endblock extra_head %}


{%block content%}
<!-- Content -->
<div class="content clearfix">
    <div class="main-content">
        <h2 class="trending-post-title single">{{ blog_post.title }}</h2>
        <br>
        <div class="published">
            <ul>
                <li><span>Category:</span>&nbsp;{{ blog_post.category }}</li>
                <li><span>Author:</span>&nbsp;{{blog_post.author}}</li>
                <li><span>Published:</span>&nbsp;{{ blog_post.pub_date|date }}</li>
                <li><span>Views:</span>&nbsp;{% get_hit_count for blog_post %}</li>
            </ul>
        </div>

        <div class="post-preview single">
            {{ blog_post.text|safe }}
        </div>
        <div class="author">
            <div class="author-image">
                <img src="{{blog_post.get_author_image}}" alt="author image">
                <h1 class="name"><a href="#author">{{blog_post.author}}</a> </h1>
            </div>
            <div class="info">

                <p class="bio">{{ blog_post.get_bio}}</p>
                <b>Follow me:</b>
                <br>
                <ul class="social-author">
                    {% if blog_post.author.telephone%}
                    <li><a href="https://wa.me/{{ blog_post.author.telephone|safe}}" target="_blank"><i
                                class="fab fa-whatsapp"></i>&nbsp;WhatsApp</a></li>
                    {% endif%}
                    {% if blog_post.author.facebook%}
                    <li><a href="https://{{ blog_post.author.facebook|safe}}" target="_blank"><i
                                class="fab fa-facebook"></i>&nbsp;Facebook</a></li>
                    {% endif%}
                    {% if blog_post.author.twitter%}
                    <li><a href="https://{{ blog_post.author.twitter}}" target="_blank"><i class="fab fa-twitter"
                                aria-hidden="true"></i>&nbsp;Twitter</a></li>
                    {% endif%}
                </ul>

            </div>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar single">
        <div class="section search">
            <h2 class="section-title">Search</h2>
            <form action="{% url 'forestry:search' %}" method="get" id="blog_search_form">
                <input class="text-input" type="text" name="q" placeholder="Search..." value="{{ query|escape}}"
                    id="blog_search">
            </form>
        </div>
        <div class="section popular">
            <h2 class="section-title">Popular Posts</h2>
            {% for i in popular_posts %}
            <div class="post-popular clearfix">

                {% if i.image%}
                <img src="{{ i.image.url }}" alt="image" aria-hidden="true">
                {% endif%}
                <a href="{{ i.get_absolute_url }}" class="title">
                    <h4>{{i.title}}</h4>
                </a>
            </div>
            {% endfor %}

        </div>

        <div class="section topics">
            <h2 class="section-title">Categories</h2>
            <ul>
                {% for cat in categories%}
                <li><a href="{{ cat.get_absolute_url}}">{{cat.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- //SIDEBAR -->
</div>
<!-- //content -->

{% endblock%}


{% block extra_java %}
<script src="/static/js/forestry.js"></script>
{% endblock extra_java %}
