{% extends 'layout/base.html'%}
{% load i18n %}
{% load static %}
{% load hitcount_tags %}

{% block extra_style %}
<link rel="stylesheet" href="/static/css/forestry.css">
{% endblock extra_style %}
{% block site_name %}
{{blog_post.title}}
{% endblock site_name %}


{% block extra_head %}
<meta name="description" content="{{post.description|truncatechars:100}}">
<meta name="robots" content="index, follow" />
<style>
    textarea.form-control {
        max-width: 100%;
        max-height: 80px;
        padding: 10px 10px 0 0;
        resize: none;
        border: none;
        border-bottom: 1px solid #E3E3E3;
        border-radius: 0;
        line-height: 2;
    }

    textarea.form-control:focus,
    textarea.form-control:active {
        border-left: none;
        border-top: none;
        border-right: none;
    }

    .form-control {
        border: 1px solid #E3E3E3;
        color: #1a1919;
        line-height: normal;
        height: auto;
        font-size: 0.8571em;
        transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        box-shadow: none;
    }

    .form-control:focus {
        border: none;
        border-bottom: 1px solid #f96332;
        box-shadow: none;
        outline: 0 !important;
        color: #2c2c2c;
    }

    .reply-comment {
        cursor: pointer;
    }
</style>
{% endblock extra_head %}


{%block content%}
<!-- Content -->
<div class="content clearfix">
    <div class="main-content">
        <h2 class="trending-post-title single">{{ blog_post.title }}</h2>
        <br>
        <div class="published">
            <ul>
                <li><span>{% trans "Category" %}:</span>&nbsp;{{ blog_post.category }}</li>
                <li><span>{% trans "Author" %}:</span>&nbsp;{{blog_post.author}}</li>
                <li><span>{% trans "Published" %}:</span>&nbsp;{{ blog_post.pub_date|date }}</li>
                <li><span>{% trans "Views" %}:</span>&nbsp;{% get_hit_count for blog_post %}</li>
            </ul>
        </div>

        <div class="post-preview single">
            {{ blog_post.text|safe }}
        </div>
        <div class="author">
            <div class="author-image">
                <img src="{{blog_post.get_author_image}}" alt="author image">
                <h1 class="name"><a href="#author">{{blog_post.author}}</a> </h1>
            </div>
            <div class="info">

                <p class="bio">{{ blog_post.get_bio}}</p>
                <b>{% trans "Follow me" %}:</b>
                <br>
                <ul class="social-author">
                    {% if blog_post.author.telephone%}
                    <li><a href="https://wa.me/{{ blog_post.author.telephone|safe}}" target="_blank"><i
                                class="fab fa-whatsapp"></i>&nbsp;WhatsApp</a></li>
                    {% endif%}
                    {% if blog_post.author.facebook%}
                    <li><a href="https://{{ blog_post.author.facebook|safe}}" target="_blank"><i
                                class="fab fa-facebook"></i>&nbsp;Facebook</a></li>
                    {% endif%}
                    {% if blog_post.author.twitter%}
                    <li><a href="https://{{ blog_post.author.twitter}}" target="_blank"><i class="fab fa-twitter"
                                aria-hidden="true"></i>&nbsp;Twitter</a></li>
                    {% endif%}
                </ul>

            </div>
        </div>
        <h3 class="title text-center">{% trans "Add or View comments" %}</h3>
        <hr>
        <div class="row">
            <div class="col-md-10 align-content-center pt-2 mt-1">
                <h4 class="title text-center mb-4">{% trans "Leave a comment" %}</h4>
                <form action="{% url 'forestry:add-comment' pk=blog_post.pk %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="row">
                        <div class="col-md-8 offset-3">
                            <div class="form-group row">
                                <label for="{{field.id_for_label}}"
                                    class="col-sm-4 col-form-label {% if field.field.required %}required{%endif %}">{{field.label}}</label>
                                <div class="col-sm-8">
                                    {{field}}
                                </div>
                                {% if field.errors %}
                                {% for error in field.errors %}
                                <label id="{{field.id_for_label}}-error" class="error"
                                    for="{{field.id_for_label}}">{{error}}</label>
                                {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary btn-round offset-6" value="Post">
                </form>
            </div>
        </div>
        <div class="row bg-white p-2">
            {% for comment in blog_post.comments.all %}

            {% if comment.approved %}



            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <img src="/static/img/default-avatar.png" alt="" class="thumbnail round">
                    </div>
                    <div class="col-md-6 col-sm-8">
                        <div class="row">
                            Posted by: &nbsp; <span
                                class="font-weight-bolder text-capitalize">{{comment.full_name}}</span>&nbsp;
                            {% trans "Date" %}:
                            &nbsp;
                            <span class="font-weight-bolder">{{comment.created_on|date:"d M Y"}}</span>
                        </div>
                        <div class="row">
                            <p class="mt-2 ml-3 p-2">{{comment.message}}</p>
                        </div>
                        <div class="row">
                            <strong class="reply-comment"
                                data-comment="{% url 'forestry:reply-comment' pk=comment.pk %}">
                                {% trans "Reply"%}</strong>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}

            {% endif %}

            {% empty %}
            <div class="col-md-12">
                <p class="font-weight-bolder">{% trans "Be the first to comment" %}</p>
            </div>

            {% endfor %}
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar single">
        <div class="section search">
            <h2 class="section-title">{% trans "Search" %}</h2>
            <form action="{% url 'forestry:search' %}" method="get" id="blog_search_form">
                <input class="text-input" type="text" name="q" placeholder="{% trans 'Search' %}..."
                    value="{{ query|escape}}" id="blog_search">
            </form>
        </div>
        <div class="section popular">
            <h2 class="section-title">{% trans "Popular Posts" %}</h2>
            {% for i in popular_posts %}
            <div class="post-popular clearfix">

                {% if i.image%}
                <img src="{{ i.image.url }}" alt="image" aria-hidden="true">
                {% endif%}
                <a href="{{ i.get_absolute_url }}" class="title">
                    <h4>{{i.title}}</h4>
                </a>
            </div>
            {% endfor %}

        </div>

        {% if blog_post.tags %}

        <div class="section topics">
            <h2 class="section-title">Post tags</h2>
            <ul>
                {% for tag in blog_post.tags.all%}
                <li>{{tag.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <!-- //SIDEBAR -->
</div>
<!-- //content -->


{% endblock%}


{% block extra_java %}
<script src="/static/js/forestry.js"></script>
<script>
    $(document).ready(function (e) {
        $('.post-categories').click(function (e) {
            e.preventDefault();
            var endpoint = $(this).attr('href');
            $.ajax({
                url: endpoint,
                method: 'GET',
                success: function (data) {
                    $('#post-list').html(data)
                },
                error: function (error_data) {
                    consol.log(error_data)
                }
            })
        });
        $(".reply-comment").click(function (e) {
            var url = $(this).data("comment");
            $.ajax({
                method: 'GET',
                url: url,
                success: function (data) {
                    $(this).innerHTML = data
                },
                error: function (error_data) {
                    console.log(error_data)
                }
            })

        });

    })
</script>
{% endblock extra_java %}