{% extends 'layout/base.html'%}
{% load i18n %}
{% load static %}
{% load hitcount_tags %}
{% block extra_style %}
<link rel="stylesheet" href="/static/css/forestry.css">
{% endblock extra_style %}
{% block site_name %}
Forestry {% endblock site_name %}
{%block content%}

<!-- RECENT POST SLIDER -->
<div class="post-slider">
    <h2 class="slider-title">Recent Posts</h2>
    <i class="fas fa-chevron-left prev" id="prev"></i>
    <i class="fas fa-chevron-right next" id="next"></i>
    <div class="post-wrapper">
        <!-- Post -->
        {% for fit in blog_featured %}
        <div class="post">
            {% if fit.image%}
            <img src="{{ fit.image.url }}" alt="" class="slider-image" /> {% endif%}
            <div class="post-info">
                <h4><a href="{{ fit.get_absolute_url }}">{{fit.title}}</a></h4>

                <i class="fas fa-user"></i>&nbsp;{{ fit.author }}&nbsp;<i
                    class="fas fa-calendar"></i>&nbsp;{{fit.pub_date|date}}&nbsp;<i class="fa fa-eye"
                    aria-hidden="true"></i> &nbsp;{% get_hit_count for fit %}
            </div>
        </div>
        {% endfor %}
        <!-- End-post -->
    </div>
</div>
<!-- END RECENT POST -->
<!-- Content -->
<div class="content clearfix">
    <div class="main-content" id="post-list">
        <h1 class="trending-post-title">Trending Posts</h1>
        <!-- Trending post -->
        {% for post in blog_posts %}
        <div class="trending-post clearfix">
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="" class="post-image" /> {%endif%}
            <div class="post-preview">
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <i class="far fa-user"></i>&nbsp;<span>{{post.author}}</span> &nbsp;<i
                    class="far fa-calendar"></i>&nbsp;<span>{{ post.pub_date|date }}</span>&nbsp;<i class="fa fa-eye"
                    aria-hidden="true"></i> &nbsp;<span>{% get_hit_count for post %}</span>
                <p class="preview-text">{{ post.description|truncatechars:220 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn readmore">Read More</a>
            </div>
        </div>
        {% endfor %}
        <br /> {% if is_paginated %}
        <ul class="paginator">
            {% if page_obj.has_previous %}
            <li>
                <a href="{% url 'forestry:list' %}?page={{ page_obj.previous_page_number }}"><i
                        class="fa fa-chevron-left"></i></a>
            </li>
            {% endif %} {% blocktrans with num=page_obj.number num_pages=page_obj.paginator.num_pages %}
            <li class="active_page"><a>{{ num }}</a></li>
            {% endblocktrans %} {% if page_obj.has_next %}
            <li>
                <a href="{% url 'forestry:list' %}?page={{ page_obj.next_page_number }}"><i
                        class="fa fa-chevron-right"></i></a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        <br />
    </div>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="section search">
            <h2 class="section-title">Search</h2>
            <form action="{% url 'forestry:search' %}" method="get" id="blog_search_form">
                <input class="text-input" type="text" name="q" placeholder="Search..." value="{{ query|escape}}"
                    id="blog_search" />
            </form>
        </div>

        <div class="section topics">
            <h2 class="section-title">Categories</h2>
            <ul>
                {% for cat in categories%}
                <li><a href="{{ cat.get_absolute_url}}" class="post-categories">{{ cat.title}}</a></li>
                {% endfor%}
            </ul>
        </div>
        <div class="section twitter">
            <a class="twitter-timeline" data-height="400"
                href="https://twitter.com/igiticorp?ref_src=twsrc%5Etfw">Tweets by igiticorp</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <!-- //SIDEBAR -->
</div>
<!-- //content -->
{% endblock%} {% block extra_java %}
<script src="/static/js/plugins/slick.min.js"></script>
<script src="/static/js/script.js"></script>

<script src="/static/js/forestry.js"></script>
<script>
    $(document).ready(function (e) {
        $('.post-categories').click(function (e) {
            e.preventDefault();
            var endpoint = $(this).attr('href');
            $.ajax({
                url: endpoint,
                method: 'GET',
                success: function (data) {
                    $('#post-list').html(data)
                },
                error: function (error_data) {
                    consol.log(error_data)
                }
            })
        });
    })
</script>

{% endblock extra_java%}