{% extends 'layout/base.html'%} {% load i18n %}
{% load static %}


{% block extra_style%}
<link rel="stylesheet" href="{% static 'css/forestry.css'%}">
{% endblock extra_style%}

{% block site_name %}
{{query|safe}}
{% endblock site_name %}


{% block facebook %}

{% endblock facebook %}

{%block content%}

<!-- Content -->
<div class="content clearfix">
    <div class="main-content" id="post-list">
        {% if queryset%}
        <h1 class="trending-post-title">Search Results for&nbsp;<span
                class="text-info font-weight-bolder">{{query|safe}}</span> </h1>
        {% else%}
        <h1 class="trending-post-title bg-white" style="padding-right: 50px ">Search here</h1>
        {% endif%}

        {% if queryset%}
        <!-- Trending post -->
        {% for post in queryset %}
        <div class="trending-post clearfix">
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="" class="post-image">
            {%endif%}
            <div class="post-preview">
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <i class="far fa-user"></i>&nbsp;<span>{{post.author}}</span> &nbsp;<i
                    class="far fa-calendar"></i>&nbsp;<span>{{ post.pub_date|date }}</span>
                <p class="preview-text">{{ post.description|truncatechars:220 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn readmore">Read More</a>
            </div>
        </div>
        {% endfor %}

        {% else%}
        <div class="row no-result" style="margin: 20px 30px 20px 10px;">
            Sorry We could not find what you are looking for.
            <br>
            Your search was: <span class="text-primary font-weight-bolder">{{ query|escape}}</span>
        </div>

        {% endif %}

    </div>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="section search">
            <h2 class="section-title">Search</h2>
            <form action="{% url 'forestry:search' %}" method="get" id="blog_search_form">
                <input class="text-input" type="text-input" name="q" placeholder="Search..." value="{{ query|escape}}"
                    id="blog_search">
            </form>
        </div>

        <div class="section topics">
            <h2 class="section-title">Categories</h2>
            <ul>
                {% for cat in categories%}
                <li><a href="{{cat.get_absolute_url}}" class="post-categories text-capitalize">{{ cat.title}}</a></li>
                {% endfor%}

            </ul>
        </div>

    </div>
    <!-- //SIDEBAR -->
</div>
<!-- //content -->
{% endblock%}
{% block extra_java %}
<script defer src=" {% static 'js/forestry.js' %}"></script>
<script>
    $(document).ready(function (e) {
        $('.post-categories').click(function (e) {
            e.preventDefault();
            var endpoint = $(this).attr('href');
            $.ajax({
                url: endpoint,
                method: 'GET',
                success: function (data) {
                    $('#post-list').html(data)
                },
                error: function (error_data) {
                    consol.log(error_data)
                }
            })
        });
    })
</script>
{% endblock extra_java %}