{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/gif" href="{% static 'img/profile.png' %}" />

    <title>500 Server Error| Igiti Corp</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--<link rel="stylesheet" href="{% static 'style/fontawesome/css/all.css' %}">-->

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/404.css' %}" />

</head>

<body>

    <div id="notfound">
        <div class="notfound-bg" style="background-image: url(http://source.unsplash.com/1500x500/?nature"></div>
        <div class=" notfound">
            <div class="notfound-404">
                <h1>500</h1>
            </div>
            <h2>we are sorry, but something <span class="text-danger"> went wrong on our end.</span> </h2>
            <a href="{% url 'home' %}" class="home-btn">Home</a>
            <a class="contact-btn" id="contact">We have been notified!</a>
            <div class="notfound-social">
                <a href="https://facebook.com/igiticorp"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/igiticorp"><i class="fab fa-twitter"></i></a>
            </div>
        </div>

    </div>


</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>