{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block site_name %}
{{ item.scientific_name}}
{% endblock site_name %}


{% block title %}
<link rel="stylesheet" href="{% static 'style/store/card.css' %}" class="css">
{% endblock title %}


{% block content %}
<div class="container">
    <div class="page-card">
        <div class="row">
            <div class="card-header">
                <div class="head-logo">
                    <h1 class="logo-text"><span>Igiti</span>&nbsp;Corp</h1>
                    <h5 class="address">Rulindo, Rwanda</h5>
                    <h5 class="date"> {% now "jS F Y H:i" %}</h5>
                </div>
                <div class="download">
                    <a href="{{ item.download_pdf_url}}" class="btn btn-default" target="_blank">Generate PDF</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="body-content">
                <div class="title name">
                    <h1 class="name-title">{{ item.scientific_name}}</h1>
                </div>

                {% if item.common_name %}

                <p>Also known as <strong>{{ item.common_name}}</strong> </p>
                {% endif %}
                <h3 class="title-content">Description</h3>

                <p>{{item.short_note}}</p>
                <h3 class="title-content">Management and Properties</h3>
                <ul>
                    <li><i class="text-success fa fa-check-square"></i>&nbsp;<span class="desc-title">Seeds per
                            Kilogram</span>:&nbsp;{{item.seeds_kg|intcomma}} seeds</li>
                    <li><i class="text-success fa fa-check-square"></i>&nbsp;<span class="desc-title">Germination
                            rate</span>:&nbsp;{{item.germination_rate}} %</li>

                    {% if item.seed_source %}
                    <li><i class="text-success fa fa-check-square"></i>&nbsp;<span class="desc-title">Seed
                            source</span>:&nbsp;{{item.seed_source}}</li>
                    {% endif %}
                </ul>
                <p></p>
                <h3 class="title-content">Plantation districts</h3>
                <table class="table table-bordered districts">
                    <thead>
                        <tr>
                            <th>
                                District
                            </th>
                            <th>
                                Ecological Zone
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for district in item.plantation_districts.all %}

                        <tr>
                            <td>
                                {{district.name}}
                            </td>
                            <td>
                                {{district.get_ecelogical_zone_display}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 class="title-content">Storage Guide</h3>

                {% if item.seed_type %}
                <p>This storage guide is pureley bsed on the seed type of <strong>{{ item.scientific_name}}</strong>
                    which is <strong>{{item.seed_type.get_name_display}}</strong></p>
                <p>
                    <ul>
                        <li><i class="fa fa-check-double"></i>&nbsp;<span class="desc-title">Storage
                                type:&nbsp;</span>{{item.seed_type.get_storage_type_display}}</li>
                        <li><i class="fa fa-check-double"></i>&nbsp;<span class="desc-title">Max-storage
                                years:&nbsp;</span>{{item.seed_type.max_years}} years</li>
                        <li><i class="fa fa-check-double"></i>&nbsp;<span class="desc-title">Min-storage
                                years:&nbsp;</span>{{item.seed_type.min_years}} years</li>
                        <li><i class="fa fa-check-double"></i>&nbsp;<span class="desc-title">Max-storage
                                moisture:&nbsp;</span>{{item.seed_type.max_moisture}}&#8451;</li>
                        <li><i class="fa fa-check-double"></i>&nbsp;<span class="desc-title">Min-storage
                                moisture:&nbsp;</span>{{item.seed_type.min_moisture}}&#8451;</li>
                    </ul>
                </p>
                {{ item.seed_type.overview|safe}}
                {% else %}
                <p class="font-weight-bold">Not available as of Today {% now 'F d Y' %}</p>
                {% endif %}
                <h3 class="title-content">Seed pre-treatment</h3>

                {% if item.pre_treatment %}

                <p class="treatment font-weight-bold">{{item.pre_treatment.title}}</p>
                <p class="process">
                    {{item.pre_treatment.process|safe}}
                </p>
                
                {% else %}
                <p>Pre-treatment not determined or it doesn't need one</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="foot-close">
                <div class="top">
                    &copy;Igiti Corp-{% now "M Y" %} | Powered by Feyton Inc
                </div>
                <div class="bottom">
                    <div class="mailing">
                        <ul>
                            <li><i class="fas fa-envelope"></i>&nbsp;info@igiti.co.rw</li>
                        </ul>

                    </div>
                    <div class="contact">
                        <ul>

                            <li><i class="fas fa-phone"></i>&nbsp;+25078724147</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block footer_content %}

{% endblock footer_content %}


{% block extra_java %}
{% endblock extra_java %}