{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block extra_style %}
<link rel="stylesheet" href="{% static 'style/store.css' %}">
<link rel="stylesheet" href="{% static 'style/store/product.css' %}" class="css">
{% endblock extra_style %}
<!-- icon and site title -->

{% block site_name %}
{{product.scientific_name}}
{% endblock site_name %}


{% block content %}

<!-- Content -->
<div class="content clearfix">
	<!-- MAIN PRODUCTS CONTAINER -->
	<div class="main-content">

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							{% if product.image1%}
							<div class="carousel-item active"> <img class="d-block w-100" src="{{product.image1.url}}"
									alt="product image 1"> </div>
							{% endif%}
							{% if product.image2%}
							<div class="carousel-item"> <img class="d-block w-100" src="{{product.image2.url}}"
									alt="product image 2"> </div>

							{% endif%}
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button"
							data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
								class="sr-only">Previous</span> </a> <a class="carousel-control-next"
							href="#carouselExampleControls" role="button" data-slide="next"> <span
								class="carousel-control-next-icon" aria-hidden="true"></span> <span
								class="sr-only">Next</span> </a>
					</div>

					<div class="row md-12 ml-10">



						{% if product.short_note %}

						<h4>Overview:</h4>

						<p>{{product.short_note|truncatechars:200}}</p>

						{% endif %}
						<a href="{% url 'store:generate-card' product.slug%}" class="btn card">Generate a card</a>

					</div>


				</div>
				<div class="col-md-6">
					<div class="row">
						<h2 class="font-italic">{{ product.scientific_name}}</h2>
					</div>
					<div class="row">
						{% if product.discount_price %}
						<h1 class="price"> <del>{{ product.price|intcomma}}</del> &nbsp;{{ product.discount_price}} Rwf
						</h1>
						{% else %}
						<h1 class="price">{{ product.price|intcomma}} Rwf</h1>
						{% endif%}
					</div>
					<!-- Species properties -->
					{% if product.seeds_kg %}
					<div class="row">
						<p><i class="text-success fa fa-check-square"></i> <strong>Seeds/Kg:</strong>
							{{ product.seeds_kg|intcomma}}
							Seeds
						</p>
					</div>
					{% endif %}
					{% if product.germination_rate %}
					<div class="row">
						<p><i class="text-success fa fa-check-square"></i> <strong>Germination rate:</strong>
							{{ product.germination_rate}}&nbsp;%
						</p>
					</div>
					{% endif %}
					{% if product.seed_type %}
					<div class="row">
						<p><i class="text-success fa fa-check-square"></i> <strong>Seeds type:</strong>
							{{ product.seed_type.get_name_display|safe}}
						</p>
					</div>
					{% endif %}
					<!-- // Species properties -->
					<div class="row">
						<form action="{{ product.get_add_to_cart_url}}">
							<div class="quantity buttons_added" data-children-count="1"><a href="javascript:void(0)"
									class="minus" id="remove_quantity">-</a>
								<input type="text" id="quantity_5ea093f3a2b82" class="input-text qty text" step="1"
									min="1" max="9" name="quantity" value="1" title="Qty" size="4" placeholder=""
									inputmode="numeric">
								<a href="javascript:void(0)" class="plus" id="add_quantity">+</a>
							</div>
							<input type="submit" value="Add to Cart" class="add-cart">
						</form>

					</div>


				</div>
			</div>
		</div>
	</div>
	<!-- Sidebar -->
	<div class="sidebar">
		<div class="section search">
			<form action="" method="get">
				<div class="search-input">
					<input class="text-input" type="text-input" name="search" placeholder="Search product here..">
					<button type="submit">Search</button>

				</div>
			</form>
		</div>

		<div class="section topics">
			<h2 class="section-title text-center">What's new!!!</h2>

			{% for product in new_products %}

			<div class="post-popular clearfix">

				{% if product.image1 %}

				<img src="{{product.image1.url}}" alt="" height="100px" width="90px">
				{% endif %}
				<a href="{{ product.get_absolute_url}}" class="title">
					<h4>{{product.scientific_name}}</h4>
					<h6>{{ product.price|intcomma}}&nbsp;Rwf</h6>
				</a>

			</div>
			{% endfor %}


		</div>

	</div>
	<!-- //SIDEBAR -->
</div>

<div class="related-products">
	<h1 class="title related">Related Products</h1>
	<!-- Product -->
	{% for item in related %}

	<div class="destination item">
		<div class="product-grid">
			<div class="product-image">
				<a href="">

					{% if item.image1 %}

					<img class="pic-1" src="{{item.image1.url}}" alt="{{item.scientific_name}} image">
					{% endif %}

					{% if item.image2 %}
					<img class="pic-2" src="{{item.image2.url}}" alt="{{item.scientific_name}} image">
					{% endif %}
				</a>

				{% if item.recommended %}

				<span class="product-trend-label">RECOMMENDED</span>
				{% endif %}

				{% if item.discount_price %}

				<span class="product-discount-label">{{ item.get_discount_percent}}%</span>
				{% endif %}
				<ul class="image-link">
					<li><a data-tip="Add to Cart" href="{{ item.get_add_to_cart_url}}"><i
								class="fa fa-shopping-cart"></i></a></li>
					<li><a data-tip="Wishlist" href="#"><i class="fa fa-heart"></i></a></li>
					<li><a data-tip="Compare" href="#"><i class="fa fa-random"></i></a></li>
					<li><a data-tip="Quick View" href="{{ item.get_absolute_url}}"><i class="fa fa-search"></i></a></li>
				</ul>
			</div>
			<div class="product-content">
				<h3 class="title"> <a href="{{ item.get_absolute_url}}">{{item.scientific_name}}</a> </h3>
				<div class="price">Rwf {{ item.price|intcomma}}</div>
			</div>

		</div>

	</div>
	{% endfor %}
	<!-- //Product -->
</div>

{% endblock content %}
<!-- //content -->



{% block extra_java %}
<script src="/static/js/store.js"></script>

{% endblock extra_java %}