{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}


<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/demo/form.css" class="css">
{% endblock stylesheets %}


{% block content %}

<!-- End Navbar -->

<div class="panel-header panel-header-sm">
  <div class="header ml-5">
    <h3 class="title mt-n4">Welcome <span class="text-success">{{user.first_name}}</span></h3>
  </div>
</div>
<div class="content">


  <!-- CARD TASK -->
  <div class="row">
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h5 class="card-category">Become more productive</h5>
          <h4 class="card-title">Here are your tasks</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <!-- TASK -->

                {% for task in tasks %}

                <tr id="task{{task.id}}">
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input complete-task" type="checkbox"
                          data-url="{% url 'dashboard:remove_task' pk=task.pk action='completed' %}">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-left">{{task.action|escape}}</td>
                  <td class="td-actions text-right">
                    <button class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral delete-task"
                      data-original-title="Remove"
                      data-url="{% url 'dashboard:remove_task' pk=task.pk action='delete' %}">
                      <i class="now-ui-icons ui-1_simple-remove"></i></button>
                  </td>
                </tr>
                {% endfor %}

                <!-- // TASK -->

              </tbody>
            </table>



          </div>
          <hr>
          <button data-toggle="modal" data-target="#exampleModal" class="btn btn-warning">Add Task</button>
        </div>
      </div>
    </div>
    <!-- // TASK  CARD -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">All Persons List</h5>
          <h4 class="card-title"> Employees Stats</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th class="text-right">
                  Salary
                </th>
                <th class="text-right">
                  Action
                </th>
              </thead>
              <tbody>
                <!-- WORKER -->

                {% for worker in workers %}



                <tr>
                  <td>
                    {{worker.full_name}}
                  </td>
                  <td>
                    {{worker.country}}
                  </td>
                  <td>
                    {{ worker.city}}
                  </td>
                  <td class="text-right">
                    {{worker.salary|intcomma}}&nbsp;Rwf
                  </td>
                  <td class="text-right">
                    <a type="button" rel="tooltip" title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </a>
                    <a href="{{ worker.delete_url}}" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
                <!-- //WORKER -->
              </tbody>
            </table>
            <hr>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addWorker" id="add-worker">Add New
              worker</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- FORMS -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action=".">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="message-text" class="col-form-label">Action:</label>
                <textarea class="form-control" id="message-text" name="action" rows="2"></textarea>
              </div>
            </div>
          </div>

          <input type="submit" value="Add Task" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
</div>


<!-- ADD WORKER FORM -->
<div class="modal fade" aria-hidden="true" id="addWorker" tabindex="-1" role="dialog" aria-labelledby="addWorker">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addWorkerLabel">New Worker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="." class="md-form">
          {% csrf_token %}
          {% include 'dashboard/includes/forms.html' with form=add_worker_form %}

          <input type="submit" value="Add Worker" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- // FORMS -->

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="/static/js/dashboard.js"></script>

<script>
  $("input[type=file]").change(function () {
    let filePath = $(this)[0].files[0].name;
    $(this).prev('label').text(filePath);
  })
  var $select = $("form select");
  $select.each(function () {
    $(this).addClass('custom-select w-90')
  });
  var $text = $("form :input[type='text']");
  $text.each(function () {
    $(this).addClass("form-control");
  });
  var $list = $("form :input[type='number']");
  $list.each(function () {
    $(this).addClass("form-control");
  });
  $(".complete-task").change(function (e) {
    if (this.checked) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        confirmButtonText: 'Yes, the task is complete',
        buttonsStyling: false
      }).then((result) => {
        if (result.value) {
          var endpoint = $(this).data('url')
          $.ajax({
            method: 'GET',
            url: endpoint,
            success: function (data) {
              Swal.fire({
                title: 'Completed!',
                text: 'Task has been completed',
                type: 'success',
                confirmButtonClass: 'btn btn-success',
                buttonsStyling: false,
                timer: 2000,
              });
              console.log(data)

              $("#task" + data.id).hide(1000)

            },
            error: function (error_data) {
              console.log(error_data);

            }
          });

        } else {
          $(this).prop('checked', !$(this).prop('checked'));
          Swal.fire({
            title: 'Cancelled',
            text: 'Task remained intact',
            timer: 2000
          })
        }
      });

    } else {
    };
    $(".delete-task").click(function (e) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        confirmButtonText: 'Yes, delete it!',
        buttonsStyling: false
      }).then((result) => {
        if (result.value) {
          var endpoint = $(this).data('url')
          $.ajax({
            method: 'GET',
            url: endpoint,
            success: function (data) {
              Swal.fire({
                title: 'Completed!',
                text: 'Task has been deleted',
                type: 'success',
                confirmButtonClass: 'btn btn-success',
                buttonsStyling: false,
                timer: 2000,
              });
              console.log(data)

              $("#task" + data.id).hide(1000)

            },
            error: function (error_data) {
              console.log(error_data);

            }
          });

        } else {
          e.preventDefault();
          Swal.fire({
            title: 'Cancelled',
            text: 'Task remained intact',
            timer: 2000
          })
        }
      });

    })
  })
</script>

{% endblock javascripts %}