{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load humanize %}


<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/demo/form.css" class="css">
{% endblock stylesheets %}


{% block content %}

<!-- End Navbar -->
<div class="panel-header panel-header-lg">
  <canvas id="bigDashboardChart"></canvas>
</div>

<div class="content">

  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Global Sales</h5>
          <h4 class="card-title">Shipped Products</h4>
          <div class="dropdown">
            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
              data-toggle="dropdown">
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="lineChartExample"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <!-- ALL PRODUCTS CARD -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">2018 Sales</h5>
          <h4 class="card-title">All products</h4>
          <div class="dropdown">
            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
              data-toggle="dropdown">
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body" data-url="{% url 'get_data' %}">
          <div class="chart-area">
            <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <!-- // PRODUCTS CARD -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Email Statistics</h5>
          <h4 class="card-title">24 Hours Performance</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="barChartSimpleGradientsNumbers"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ALL PRODUCTS CARD -->
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Total Products</h5>
        <h4 class="card-title">Test</h4>
        <div class="dropdown">
          <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
            data-toggle="dropdown">
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div>
        </div>
      </div>
      <div class="card-body" id="js-products" data-url="{% url 'chart-data' %}">
        <div class="chart-area">
          <canvas id="testChart"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>

  <!-- CARD TASK -->
  <div class="row">
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h5 class="card-category">Backend development</h5>
          <h4 class="card-title">Tasks</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <!-- TASK -->

                {% for task in tasks %}



                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-left">{{task.action|escape}}</td>
                  <td class="td-actions text-right">
                    <a type="button" rel="tooltip" title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </a>
                    <a href="{{ task.remove_task}}" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}

                <!-- // TASK -->

              </tbody>
            </table>



          </div>
          <button data-toggle="modal" data-target="#exampleModal" class="btn btn-warning">Add Task</button>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Updated 3 minutes ago
          </div>

        </div>
      </div>
    </div>
    <!-- // TASK  CARD -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">All Persons List</h5>
          <h4 class="card-title"> Employees Stats</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th class="text-right">
                  Salary
                </th>
                <th class="text-right">
                  Action
                </th>
              </thead>
              <tbody>
                <!-- WORKER -->

                {% for worker in workers %}



                <tr>
                  <td>
                    {{worker.full_name}}
                  </td>
                  <td>
                    {{worker.country}}
                  </td>
                  <td>
                    {{ worker.city}}
                  </td>
                  <td class="text-right">
                    {{worker.salary|intcomma}}&nbsp;Rwf
                  </td>
                  <td class="text-right">
                    <a type="button" rel="tooltip" title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </a>
                    <a href="{{ worker.delete_url}}" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
                <!-- //WORKER -->
              </tbody>
            </table>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addWorker"  id="add-worker">Add New worker</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- FORMS -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action=".">
          {% csrf_token %}

          <div class="form-group">
            <label for="message-text" class="col-form-label">Action:</label>
            <textarea class="form-control" id="message-text" name="action"></textarea>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Deadline:</label>
            <input type="datetime-local" class="form-control" id="recipient-name" name="deadline">
          </div>
          <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="customControlInline" name="remind_me">
            <label class="custom-control-label" for="customControlInline">Remember my preference</label>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Deadline:</label>
            <input type="datetime-local" class="form-control" id="recipient-name" name="remind_me_time">
          </div>
          <input type="submit" value="Add Task" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>


<!-- ADD WORKER FORM -->
<div class="modal fade" aria-hidden="true" id="addWorker" tabindex="-1" role="dialog" aria-labelledby="addWorker">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Worker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action=".">
          {% csrf_token %}
          
          {% for field in add_worker_form.fields %}
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">{{field.label}}</label>
                {{ field}}
              </div>
            </div>
          </div>
            
          {% endfor %}
            
          
          <input type="submit" value="Add Worker" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- // FORMS -->

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="{% static 'script/dashboard.js' %}"></script>

<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();


  });
</script>

{% endblock javascripts %}